// Resuable modukes go here

.island {
	padding:30px;
}

ul.stream li {
    display: none;
    width: 250px;
    margin: 0 30px 30px 0;
    position: relative;

     img {
        width:100%;
    }
    .date {
        display: block;
        clear: both;
        margin: 10px 0 0 0;
        line-height: 12px;
        color: #666;
        font-size: 11px;
        font-style: italic;
    }
    .section-share {
        bottom: 0px;
        right: 15px;
        position: absolute;
        z-index: 2;

         a {
            display: block;
            width: 16px;
            height: 16px;
            float: left;
            margin: 0 2px 0 0;
            color:$grey;

            &:before {
                cursor:pointer;
            }
        }
        a.share-twitter:hover,
        a.share-facebook:hover {
            color:$navy;
        }
    }
}
